Repository Zaptyp/wulkanowy-web, pull requests merged in 2022-06, with the labels that each got.

#13 [Feature] Add points in subject grades
  backend/app/endpoints/uonetplus_uczen.py
  backend/app/models/grades.py
Labels: feature, backend

#15 [Enchancement] Backend refactor
  .github/workflows/requirements.txt
  backend/app/core/config.py
  backend/app/resources/__init__.py
  backend/app/resources/errors.py
  backend/app/routes/__init__.py
  backend/app/routes/auth.py
  backend/app/routes/github.py
  backend/app/routes/uonetplus_uczen.py
  backend/main.py
  backend/requirements.txt
  backend/tests/endpoints/login_with_incorrect_symbol.py
  backend/tests/routes/__init__.py
  backend/tests/routes/conferences.py
  backend/tests/routes/github.py
  backend/tests/routes/grades.py
  backend/tests/routes/login.py
  backend/tests/routes/login_incorrect.py
  backend/tests/routes/mobile_access_delete_registed.py
  backend/tests/routes/mobile_access_registed.py
  backend/tests/routes/mobile_access_register.py
  backend/tests/routes/notes.py
  backend/tests/routes/school_info.py
  backend/tests/test.py
  frontend/src/api.ts
Labels: enhancement, backend

#18 [Bugfix] GitHub endpoint
  backend/app/routes/github.py
  backend/requirements.txt
  backend/tests/routes/github.py
Labels: fix, backend

#19 [Bugfix] GitHub endpoint frontend
  frontend/src/api.ts
Labels: fix, frontend

#21 [Security] Add depandabot to the repo
  .github/dependabot.yml
Labels: frontend, backend, security

#31 [Security] Add limit to the PRs
  .github/dependabot.yml
Labels: security

#32 Revert "[Security] Add limit to the PRs"
  .github/dependabot.yml
Labels: fix, security

#48 [Fix] Fix the depandabot
  .github/dependabot.yml
Labels: fix, frontend, backend, security

#56 [Feature] School info
  frontend/src/api.ts
  frontend/src/components/Conferences/Main.vue
  frontend/src/components/Panel/AppBar.vue
  frontend/src/components/SchoolInfo/Main.vue
  frontend/src/components/SchoolInfo/School.vue
  frontend/src/components/SchoolInfo/TableView.vue
  frontend/src/components/SchoolInfo/Teachers.vue
  frontend/src/components/index.ts
  frontend/src/i18n/values/en.json
  frontend/src/i18n/values/pl.json
  frontend/src/store/index.ts
  frontend/src/views/Panel.vue
Labels: feature, ui, frontend, backend
